Step #1: [Windows] Install Selenium by entering this from the command line: pip install selenium

[Mac] Enter this line in Terminal: pip3 install selenium

Step #2: Install chromedriver.exe: Download chromedriver.exe at http://chromedriver.storage.googleapis.com/index.html

(Download chromedriver_linux64.zip, chromedriver_mac64.zip or chromedriver_win32.zip:
http://chromedriver.storage.googleapis.com/index.html?path=2.42/)

Step #3: Unzip the file and place chromedriver.exe under Program Files (x86) > Google > Chrome > Application.

Step #4: Add a new path under Environmental Variables: C:\Program Files (x86)\Google\Chrome\Application
